/**= require tooltipster*/

#transbox {
  margin: 30px;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid black;
  border-radius: 4px;
  width: 60%;
  /*opacity: 0.6;*/
  /*filter: alpha(opacity=60); /* For IE8 and earlier */
  box-shadow: 0px 0px 2px rgba(0,0,0,.5);
/*		1px 1px 5px rgba(0,0,0,.3);*/
}

body{
	background-image: url("roam_background_web.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #f07916;
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	margin-top: 150px;
	color: white;
}


#searchbutton {
	width: 100px;
	-webkit-transition: all .5s;
	background: #664A86;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	color: #F5F6EE;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.5);
	/*	1px 1px 5px rgba(0,0,0,.3);*/
	cursor: pointer;
	margin-top: 10px;


}

#searchbutton:hover{
	background: #F5F6EE;
	color: #664A86;
}

/*index.html*/
#heading {
	width: 30%;
}

@import "compass/css3";


/*new.html*/

.newsfeed {
	background-image: url('background_edit2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #f41691;
	text-align: center;
	margin-top: 150px;
	color: white;
}

.searchbox {
	width: 70%;
	padding: 18px;
	border-radius: 6px;
} 

.picturecontainer{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.imageshow {
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	display: inline-block;
	border-color: #2B2B2B;
	border-radius: 7px;
  border-weight: 3px; 
  border-style: solid;
  margin-top: 30px;
}


@media screen and (max-width: 430px) {
		#topcontainer {
		/*	background-image: url("roam_background_web.jpg");*/
			background-size: cover;
			background-repeat: no-repeat;
			background-attachment: fixed;
		/*	background-color: #f07916;*/
			font-family: 'Oxygen', sans-serif;
			text-align: center;
			margin-top: -100px;
			color: white;
	}

	#searchbutton {
		width: 160px;
		-webkit-transition: all .5s;
		background: #664A86;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		color: #F5F6EE;
		border-radius: 3px;
		box-shadow: 0px 0px 2px rgba(0,0,0,.5);
	/*		1px 1px 5px rgba(0,0,0,.3);*/
		cursor: pointer;
		margin-top: 10px;
		font-size: 20px;

	}
}