/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
	background-image: url('background_edit.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #f07916;
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin-top: 150px;
	color: white;
}


.button{

}
.searchbox{
width:70% ;
}


.container img{
	/*width:200px;*/
	border: 10px solid black;
}
/*flexbox container containes all the images */
/*children become flexbox items*/
.container{
	display: flex;
	justify-content:center;
 	}


 	

	




#newsfeed {
	/*display: none;*/
	background-image: url('background_edit2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #f41691;
	font-family: Helvetica, sans-serif;
	margin-top: 150px;
	color: white;
}


.border {
	border: solid 1px black;
	background-color: black;
	height: 170px;
	width: 100%;
}

.border img {
	width: 150px;
	height: 150px;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	padding: 5px;
}

