
<h1 id="heading">Welcome to Roam</h1>


<br>
<br>
<div id="topcontainer">
<input type="text" id="search" placeholder="#search"> </input> <button id="searchbutton" >Submit</button><br><br>
</div>

<div id="picturecontainer">
	<img id="imageshow" src=""></img>
</div>

<!-- <img id="image0" src=""></img>
<img id="image1" src=""></img>
<img id="image2" src=""></img>
<img id="image3" src=""></img>
<img id="image4" src=""></img> -->
