


	<div id="topcontainer">
		<h1 id="heading">ROAM NYC</h1>
		<input type="text" class="searchbox" id="search" placeholder="#keywords"> </input>
		<br> <button id="searchbutton" >Submit</button><br><br>
	</div>

	<div id="picturecontainer">
		<img id="imageshow" src=""></img>
	</div>



<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDhf202kxFAIgtBnMeHqJHgpjZzwPdUWA&callback=initMap">
    </script> -->

<!-- <script async defer src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=12&size=400x400&key=AIzaSyDDhf202kxFAIgtBnMeHqJHgpjZzwPdUWA
"></script> -->
	
</div>
