<h1>RecentSearches#index</h1>
<p>Find me in app/views/recent_searches/index.html.erb</p>
<!-- <img id="image0" src=""></img>
<img id="image1" src=""></img>
<img id="image2" src=""></img>
<img id="image3" src=""></img>
<img id="image4" src=""></img> -->