

<!-- <h1 id="heading">Welcome to Roam</h1> -->

<!-- <br>
<br>
<div id="topcontainer">
<input type="text" id="search" placeholder="#search"> </input> <button id="searchbutton" >Submit</button><br><br>
</div>

<div id="picturecontainer">
	<img id="imageshow" src=""></img>
</div> -->

	<div id="topcontainer">
		<img src="/assets/roamlogo.png" id="heading"></img>
		<input type="text" class="searchbox" id="search" placeholder="#keywords"> </input>
		<br> <button id="searchbutton" >Submit</button><br><br>
	</div>

	<div id="picturecontainer">
		<img id="imageshow" src=""></img>
	</div>

<!-- <div id="map"></div> -->

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDhf202kxFAIgtBnMeHqJHgpjZzwPdUWA&callback=initMap">
    </script>


    <!--  -->
	
</div>
