
<h1 id="heading">Welcome to Roam</h1>

<img id="image" src=""></img>
<br>
<br>
<div>
<input type="text" id="search" placeholder="#search"> </input> <button id="searchbutton" >Submit</button><br><br>
<input type="text" id="tag" placeholder="Tagsearch"> </input> <button id="searchbutton1" >Search</button>
	
</div>

<!-- <img id="image0" src=""></img>
<img id="image1" src=""></img>
<img id="image2" src=""></img>
<img id="image3" src=""></img>
<img id="image4" src=""></img> -->
