
	<div id="topcontainer">
	
		<img src="/assets/roamlogo.png" id="heading"></img>
		<input type="text" class="searchbox" id="search" placeholder="#keywords"> </input>
		<br> <button id="searchbutton" >Submit</button><br><br>
	</div>


	<div id="transbox">
		<div class="container">
			<div id="picturecontainer">
				<img class="imageshow" src=""></img>
			</div>
		</div>
  </div>
