<!DOCTYPE html>
<html>
<head>
  <title>Roam</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br>
<br>
<div id="topcontainer">
<input type="text" id="search" placeholder="#search"> </input> <button id="searchbutton" >Submit</button><br><br>
</div>
<div class="wrapper1">
  <h1>#RoamNYC</h1>
  <p>Why stand still when you can go #Roam.</p>
  <!-- form -->
  <div class="flexsearch">
    <div class="flexsearch--wrapper">
      <form class="flexsearch--form" action="#" method="post">
        <div class="flexsearch--input-wrapper">
        <input class="flexsearch--input" type="search" placeholder="search">
        </div>
        <input class="flexsearch--submit" type="submit" value="&#10140;"/>
      </form>
    </div>
  </div>
    <!--  -->
  <p>
    #RoamNYC is an app that allows you to search for #hashtags in the NYC area.
  </p>
</div>
		<!-- <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 40%;
        width: 40%;
      }
    </style>
<div id="map"></div>

<br><br>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS975JByAfN5bLK1Gvfs8C2J9U1L-02DU&callback=initMap"
    async defer></script> -->

</body>
</html>
